<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="molengine.helm.db" value="Data Source=(local);Initial Catalog=TouchMolDB;User Id=sa;Password=;"/>
    <add key="jsdraw.defaultoptions" value="{skin:'w8'}"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>